:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.textColor {
  color: rgb(72, 202, 228)
}

.stimuliImg {
  width: 6rem;
  max-width: 6rem;
  max-height: 6rem;
}

.backGroundColor {
  background-color: rgb(3, 4, 94);
}

h1 {
 color: rgb(2, 62, 138);
}

.cardBorder {
  border: 3px solid rgb(0, 150, 199);
  background-color: rgb(173, 232, 244);
  transition: transform 0.4s ease-in-out; 

}

.cardBorder:hover {
  background-color: rgb(72, 202, 228);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transform: scale(1.03);
}

.stimuliCard {
  border: 3px solid rgb(0, 150, 199);
  background-color: rgb(173, 232, 244);
  transition: transform 0.4s ease-in-out; 
}

.stimuliCard:hover {
  background-color: rgb(72, 202, 228);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transform: scale(1.03);
}

.btns{
  background-color: rgb(0, 150, 199);
  border-color: rgb(3, 4, 94);
  border: 1px solid rgb(3, 4, 94);
  transition: transform 0.4s ease-in-out; 
}

.btns:hover {
  background-color: rgb(3, 4, 94);
  border-color: rgb(0, 150, 199);
  color: rgb(144, 224, 239);
  transform: scale(1.03);
}
.cardBg{
  border: 3px solid rgb(0, 150, 199);
}

.addBtns{
  background-color: #6c757d;
}

.addBtns:hover {
  background-color: rgb(0, 119, 182);
  color: rgb(202, 240, 248)
}

.rmvBtn {
  background-color: rgba(228, 13, 13, 0.893);
  border: none;
}

.rmvBtn:hover {
  background-color: rgb(174, 7, 7);
  color: black
}

@media (min-width: 992px) {

  .stimuliImg {
    width: 18rem;
    max-width: 18rem;
    max-height: 18rem;
  }
  
}  
